$nav-button-color: #00838F;

$SIDE_BAR_WIDTH:200px;
$SIDE_BAR_MINUS_SHADOW_WIDTH:190px;

$HEADER_HEIGHT: 40px;
$HEADER_BG_COLOR:#FFF;

$FOOTER_HEIGHT: 30px;
$FOOTER_BG_COLOR: #FFF;

//common 
$COMMON_CONTENT_PADDING: 5px;
$COMMON_BORDER_COLOR:#CCC;
$APP_OVERLAY_BACKGROUND: #CCCCCC;
$APP_OVERLAY_BACKGROUND_OPACITY: 0.3;

